    #datetime:hover {
        cursor: pointer;
        text-decoration: underline;
    }
    
    body {
        max-height: max-content;
        max-width: max-content;
        height: auto;
        background-color: #bedbf5;
    }