*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background-color: #f4f3eb;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
}

.header .logo{
    cursor: pointer;
}

.header .logo .img{
    height: 70px;
    width: auto;
    transition: all 0.3s;
}

.header .logo img:hover{
    transform: scale(1.2);
}

.header .nav-links{
    list-style: none;
}

.header .nav-links li{
    display: inline-block;
    padding: 0 20px;
}

.header .nav-links li:hover{
    transform: scale(1.1);   
}

.header .new-links a{
    font-size: 700;
    color: rgb(126, 126, 219);
    text-decoration: none;
}

header .nav-links li a:hover{
    color:blue;
}

.header .btn button{
    font-weight: 700;
    color: blue;
    padding: 9px 25px;
    background: yellow;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.header .btn button:hover{
    background-color: blue;
    color: yellow;
    transform: scale(1.1);

}

