*{
    box-sizing: border-box;
    max-width: 1250;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif, Digital;
}

.body{
    background-color: #f4f3eb;    
}


/*Primer Header */

.cabecera-l1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    width: auto;
    padding: 5px 10%;
}

.cabecera-l1 .logo{
    cursor: pointer;
}


.cabecera-l1 .logo .img{
    height: 70px;
    width: auto;
    transition: all 0.3s;
}

.cabecera-l1 .logo img:hover{
    transform: scale(1.2);
}


.cabecera-l1 .btn-buscar button{
    margin-right: 20px;
    font-weight: 700;
    color: black;
    font-size: 14px;
    padding: 7px 35px;
    background: #94aac8;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.cabecera-l1 .btn-buscar button:hover{
    background-color: black;
    color:#94aac8;
    transform: scale(1.05);
}


/*Segundo Header*/

.cabecera-l2{
   
    align-items: center;
    height: 85px;
    width: auto;
    padding: 5px 18%;
}


.cabecera-l2 .nav-links{
    list-style: none;
}

.cabecera-l2 .nav-links li{
    display: inline-block;
    padding: 0 20px;
}


.cabecera-l2 .nav-links li:hover{
    transform: scale(1.1);
}

.cabecera-l2 .nav-links a{
    font-size: 700;
    color: rgb(126,126,219);
    text-decoration: none;
}


/*Mirar por que no me carga los estilos del reloj*/
@import url(http://db.onlinewebfonts.com/c/86203afc717c0d2960e0b34fd4041e95?family=Ticking+Timebomb+BB);
@font-face {
    font-family: "Ticking Timebomb BB";
    src: url("http://db.onlinewebfonts.com/t/86203afc717c0d2960e0b34fd4041e95.eot");
    src: url("http://db.onlinewebfonts.com/t/86203afc717c0d2960e0b34fd4041e95.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/86203afc717c0d2960e0b34fd4041e95.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/86203afc717c0d2960e0b34fd4041e95.woff") format("woff"), url("//db.onlinewebfonts.com/t/86203afc717c0d2960e0b34fd4041e95.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/86203afc717c0d2960e0b34fd4041e95.svg#Ticking Timebomb BB") format("svg");
}

/*Esta en el primer header*/
#datetime {
    display: flex;
    justify-content: center;
    align-items: center;
    /*font-family: "Ticking Timebomb BB";*/
    font-size: 22px;
    color: black;
    margin-top: 10px;
}

#datetime:hover{
    transform: scale(1.5);
    color: ;
}
